@font-face {
    font-family: "SimplonNorm-Medium";
    src: url('/assets/fonts/simplonnorm-medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }

  @font-face {
    font-family: "SimplonNorm-Bold";
    src: url('/assets/fonts/simplonnorm-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }

  @font-face {
    font-family: "FreightMedium";
    src: url('/assets/fonts/FreigTexMed.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }

  @font-face {
    font-family: "FreightTextProBook-Regular";
    src: url('/assets/fonts/FreightTextProBook.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
  }